<section>
    prgress bar energy
</section>

<section class="flex flex-row justify-between items-center gap-2">
    <div class="w-1/5 bg-[#322543] border border-slate-300 rounded-lg p-2 text-center flex flex-col items-center justify-between">
        <img src="assets/actions/ref.svg" alt="icon" class="w-10 h-auto">
        Ref</div>
    <div class="w-1/5 bg-[#322543] border border-slate-300 rounded-lg p-2 text-center flex flex-col items-center justify-between">
        <img src="assets/actions/tasks.svg" alt="icon" class="w-10 h-auto">
        Tasks</div>
    <div class="w-1/5 bg-[#322543] border border-slate-300 rounded-lg p-2 text-center flex flex-col items-center justify-between">
        <img src="assets/actions/tap.svg" alt="icon" class="w-10 h-auto">
        Tap</div>
    <div class="w-1/5 bg-[#322543] border border-slate-300 rounded-lg p-2 text-center flex flex-col items-center justify-between">
        <img src="assets/actions/boost.svg" alt="icon" class="w-10 h-auto">
        Boost</div>
    <div class="w-1/5 bg-[#322543] border border-slate-300 rounded-lg p-2 text-center flex flex-col items-center justify-between">
        <img src="assets/actions/stats.svg" alt="icon" class="w-10 h-auto">
        Stats</div>
</section>