<section>
    prgress bar energy
</section>

<section class="flex flex-row justify-between items-center gap-2 px-1">
    <div class="w-1/5 bg-[#322543] border border-slate-300 rounded-lg p-2 text-center flex flex-col items-center justify-between gap-2">
        <img src="" alt="icon">
        Ref</div>
    <div class="w-1/5 bg-[#322543] border border-slate-300 rounded-lg p-2 text-center flex flex-col items-center justify-between gap-2">
        <img src="" alt="icon">
        Tasks</div>
    <div class="w-1/5 bg-[#322543] border border-slate-300 rounded-lg p-2 text-center flex flex-col items-center justify-between gap-2">
        <img src="" alt="icon">
        Tap</div>
    <div class="w-1/5 bg-[#322543] border border-slate-300 rounded-lg p-2 text-center flex flex-col items-center justify-between gap-2">
        <img src="" alt="icon">
        Boost</div>
    <div class="w-1/5 bg-[#322543] border border-slate-300 rounded-lg p-2 text-center flex flex-col items-center justify-between gap-2">
        <img src="" alt="icon">
        Stats</div>
</section>